<style type="text/css" media="screen">

/* CMD + D and replace each scss variable with its associated color
Theme color :
$primary: ;
$hover-primary: ; (10%darker)
$callout-primary: ; (90%lighter)
$secondary : ; ()
$hover-secondary: ; (10%darker)
$callout-secondary: ; (90%lighter)
$success : ;
$hover-success : ; (10%darker)*/

/*________YOU MIGHT WANT TO DISABLE________*/
.mini-footer{display:none}
.lopd-text{display:none} /* CGU when signing up */

/*________LOGIN/LOGOUT NAVBAR________*/

/* if navbar white
.title-bar{background: white;}*/
.topbar__notifications .icon, .topbar__conversations .icon{fill:$secondary;}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after{border-color: $secondary transparent transparent;}
.topbar__dropmenu>ul>li>a{color:$secondary}
.topbar__dropmenu>ul>li>a:focus,.topbar__dropmenu>ul>li>a:hover{color:$hover-secondary}
.topbar__dropmenu>ul>li.is-dropdown-submenu-parent.is-active>a{color:$hover-secondary}
.topbar__dropmenu>ul>li.is-dropdown-submenu-parent>a:after{border-color:$secondary}
.topbar__dropmenu>ul>li.is-dropdown-submenu-parent>a:focus:after,.topbar__dropmenu>ul>li.is-dropdown-submenu-parent>a:hover:after{border-top-color:$hover-secondary}
.topbar__dropmenu .is-dropdown-submenu a:focus,.topbar__dropmenu .is-dropdown-submenu a:hover{color:$hover-secondary}
.topbar__user>ul>li>a{font-weight:normal;color:$secondary}
.topbar__user>ul>li>a:focus,.topbar__user>ul>li>a:hover{color:$hover-secondary}
.topbar__user__login a{font-weight:normal;color:$secondary}
.topbar__user__login a:focus,.topbar__user__login a:hover{color:$hover-secondary}
.topbar__dropmenu .is-dropdown-submenu a{color:$secondary}

/*________MENU NAVBAR________*/
.main-nav__link--active a {box-shadow: inset 0 4px 0 0 $secondary;}

/*________TITLES BORDERS________*/
.section-heading:before{background-color: $primary;}

/*________ANNOUNCEMENTS and ALERTS________*/
 .callout.secondary{border-left: 8px solid $secondary; background-color: $callout-secondary;}
 .callout.warning{border-left: 8px solid $warning; background-color: $callout-warning;}

/*________CARDS________*/
.card__datetime{border-left: 4px solid $secondary;}
.author-data a, .author-data button:hover{color: $secondary;}
.author-data a, .author-data button{color: $secondary;}
/*name user*/
.author-data .author__name{color: $secondary;}
/*tags*/
.tags a{border: 1px solid $secondary;color: $secondary}

/*________ICONS________*/
.home-bullet__icon svg {fill: $primary;}
.address__icon, .card--list__icon, .process_stats .process_stats-item .icon{fill: $secondary;}
// .icon .external-icon {fill: $secondary;}

/*________BUTTONS________*/

/* regular buttons */
.button{color:white;background:$primary}
.button:focus,.button:hover {background:$hover-primary}

/* see-through buttons */
.button.hollow {border: 1px solid $primary;color: #fff;}
.button.hollow:focus,.button.hollow:hover {border: 1px solid $hover-primary;color: #fff;}
.button.hollow.secondary{border: 1px solid $secondary;color: #fff;}
.button.hollow.secondary:hover{border: 1px solid $hover-secondary;background:white;color: #fff;}

/* small buttons */
.button.small.secondary {background-color: $secondary}
.button.small.secondary:hover {background-color: $hover-secondary}

/* "Register" button */
.subhero-cta{color: $primary;}
.subhero-cta:hover{color: $secondary;}

/* "View steps" button */
.button.tiny.hollow {border:1px solid white; color:white; opacity:0.8}
.button.tiny.hollow:hover {border:1px solid white; color:white; opacity:1}

/* button disable */
.button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus{background-color: $hover-secondary;}

/* upload button */
.card--list__data__icon .icon{fill: $secondary;}
.card--list__data__icon:hover .icon{fill: $hover-secondary;}

.button.clear {color: $primary}
.button.clear:hover {color: $hover-primary}
.close.button {color: $primary}

/*________LINKS________*/
/* a{color: $secondary;}*/
/* .link{color: $secondary;}*/
.picker-content a {color:$secondary}
.card__link:hover{color: $secondary;}

/*________HERO SECTION________*/
.hero-cta {margin-top: 10rem;margin-bottom: -3rem;}
/* hide HERO description .hero-heading{display: none;} */

/* HOME/PROCESS selected process (active/past)*/
.order-by__tab.is-active{color: $secondary;}

/*________PROCESS HEADER________*/

/*progress bar*/
.process-header__progress .phase-item--past::after{background-color: $secondary;}
.process-header__progress .phase-item--past span{background-color: $secondary;}

/*name and icons of features*/
.process-nav__link {color: $primary;}
.process-nav__link svg {fill: $primary;}
.process-nav__link:hover, .process-nav__link.is-active{color: $secondary;}
.process-nav__link:hover svg, .process-nav__link.is-active svg{fill: $secondary;}
.process-nav__link:focus, .process-nav__link.is-active{color: $secondary;}
.process-nav__link:focus svg, .process-nav__link.is-active svg{fill: $secondary;}

/*________TIMELINE HEADER________*/

.timeline__item:before{background:$primary}
.timeline__item--current .timeline__info{border-color:$primary}.timeline__item--current .timeline__header{background-color:$primary}
.timeline__phase{background:$primary}

</style>
